In [2]:
import pandas as pd

In [ ]:
g = sns.PairGrid(nhanes[['age', 'weight']])
g.map(plt.scatter);

In [1]:
## the following code resulted from a failed attempt to make a histogram divided into bins, but actually works to
## segment the column data into bins.
## x = pd.cut(nhanes['age'], bins = np.linspace(0,85,18), retbins = True)

In [ ]:
cps['age'].hist(color ="#4F91F6", edgecolor = "black", figsize = (14,5.5))
plt.title("Age Distribution", fontsize=16)
plt.ylabel("Count of Age", fontsize = 12)
plt.xlabel("Age", fontsize = 12)

In [3]:
cps = pd.read_stata("cps_1999-2014.dta")
cps.head()

,year,serial,cpsid,ownershp,hhincome,proptax,pubhous,rentsub,foodstmp,stampno,...,faminc,pernum,cpsidp,wtsupp,wtfinl,relate,age,sex,race,marst
0,2014,1,2.013120e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$75,000 - 99,999",1,2.013120e+13,NaN,2668.7604,Head/householder,76,Female,White,Divorced
1,2014,2,2.014020e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$75,000 - 99,999",1,2.014020e+13,NaN,2745.7466,Head/householder,65,Male,White,Never married/single
2,2014,3,2.014010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$100,000 - 149,999",1,2.014010e+13,NaN,3344.7320,Head/householder,78,Male,White,"Married, spouse present"
3,2014,3,2.014010e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$100,000 - 149,999",2,2.014010e+13,NaN,3087.4410,Spouse,76,Female,White,"Married, spouse present"
4,2014,4,2.012120e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Under $5,000",1,2.012120e+13,NaN,3061.8081,Head/householder,58,Male,Black/Negro,Never married/single

In [10]:
cps.age = cps.age.apply(lambda x: 0 if x == 'Under 1 year' else x)

In [11]:
cps.age = cps.age.apply(lambda x: int(x))